<h1> Task Index</h1>

<% @tasks.each do |task| %>
  <p><%= task.id %> - 
  <%= task.title %> - 
  <%= task.description %> -
  <%= image_tag task.image.variant(resize: "180x135>") if task.image.attached? %>
  <%= link_to('View Task Details', task_path(task.id)) %> - 
  <%= link_to('Delete', task_path(task.id), method: 'delete', data: {confirm: "Are you SURE?"}) %> <p>
<% end %>

<%= link_to('New Task', new_task_path) %>